*/settings/local.py
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
docs/api
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.db
*.log
data/logs/*
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
static/*
venv/

config/deploy_env.py
!config/_default.cfg
!config/gravity.cfg
.idea
!media/.keep

*migrations*
node_modules/
fe_build/**/dist/
applications/mobile/static/mobile_v2/
applications/mobile/static/mobile-v1/dist/
applications/mobile/static/fibo/
applications/mobile/static/annual_reports/
applications/control/static/setting/
stats.json
applications/control/static/web_admin/
applications/control/static/screen_checkin/

uglify_cache/
webpack_cache/

dump.rdb